/* --------------------------*/
/*共通
/*----------------------------*/
body {
    font-family: 'Karla', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif; ;
    color: #182F60;
    display: block;
    width: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #182F60;
}

/* --------------------------*/
/*ヘッダー
/*----------------------------*/
.header {
    height: 100px;
}

a.nav-logo {
    line-height: 100px;
    margin: 0 30px;
}

img.nav-logo {
    width: 9.0%;
    vertical-align: middle;
}

.global-nav {
    float: right;
    line-height: 100px;
    margin-right: 50px;
    height: 16px;
}

.global-nav-part {
    float: left;
    margin-left: 38px;
    font-size: 1.1rem;
    letter-spacing: 0.0006em;
}

/* --------------------------*/
/*アイキャッチ
/*----------------------------*/
.eye-catch {
    height: 672px;
}

.background-image {
    height: 572px;
    margin: 0 100px;
    background-image: url('../images/hero01.jpg');
    background-size: cover;
}

.eyecatch-logo {
    height: 93px;
    margin-left: 60px;
    vertical-align: top;
}

.logo01 { 
    margin-top: 250px;
}

.logo02 .logo03 {
    margin: 0;
}

.logo03 {
    height: 81px;
}


/* --------------------------*/
/*ミッション
/*----------------------------*/

.mission {
    width: 100%;
    height: 900px;
}

.mission-main {
    width: 53%;
    padding: 112px 0 10px;
    position: absolute;
    font-size: 18px;
    border: 1px solid #E0E2E9;
    opacity: 1;
    background-color: #fdfdff;
    left: 580px;
}

.mission-main::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    background-image: url('../images/bg_right.svg');
    background-repeat: no-repeat;
    height: 715px;
    width: 660px;
    background-size: cover;
    position: absolute;
    left: 400px;
    top: -100px;
    z-index: -1;
    overflow: hidden;
}

.mission-description {
    padding: 0 15%;
    line-height: 3.0rem;
    font-weight: 700;
    text-align: left;
}

.mission-nav {
    margin-right: 50px;
}

.mission-nav-title {
    font-size: 18px;
    vertical-align: middle;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.36px;
    float: right;
}

.mission-nav-title::after {
    content: '>';
    padding: 10px;
}

/* --------------------------*/
/*サービス
/*----------------------------*/
/*
.service {
    padding: 10px 220px;
}

.service-list {
    padding: 50px 0;
}

.service-title-main {
    font-size: 4.0rem;
}

.service-item {
    float: left;
    height: 335px;
    width: 386px;
    border: 1px solid #E1E2E9;
}

.item-left {
    margin: 0 20px 0 0;;
}

.item-center{
    margin: 0 20px 0 20px;
}

.item-right {
    margin: 0 0 0 20px;
}
*/
