/* --------------------------*/
/*共通
/*----------------------------*/
body {
    display: block;
    font-family: 'Karla', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif; ;
    color: #182F60;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #182F60;
}

/* --------------------------*/
/*ヘッダー
/*----------------------------*/
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #FDFDFF;
    z-index: 5;
}

a.nav-logo {
    line-height: 100px;
    margin: 0 30px;
}

img.nav-logo {
    width: 9.0%;
    vertical-align: middle;
}

.global-nav {
    float: right;
    line-height: 100px;
    margin-right: 50px;
    height: 16px;
}

.global-nav-part {
    float: left;
    margin-left: 38px;
    font-size: 1.1rem;
    letter-spacing: 0.0006em;
}

.global-nav-part a {
    display: block;
}

.global-nav-part a::after {
    display: block;
    content: "";
    position: relative;
    top: -35px;
    height: 2px;
    background: #192E60;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;

}

.global-nav-part a:hover::after {
    width: 100%;
    transform-origin: left top;
    transform: scale(1, 1);
}

.contents {
    padding-top: 100px;
}
/* --------------------------*/
/*アイキャッチ
/*----------------------------*/
.eye-catch {
    height: 672px;
    width: 100%;
}

.background-image {
    height: 572px;
    margin: 0 100px;
    background-image: url('../images/hero01.jpg');
    background-size: cover;
    background-position: center center;
}

.eyecatch-logo {
    height: 93px;
    margin-left: 60px;
    vertical-align: top;
}

.logo01 { 
    margin-top: 250px;
}

.logo02 .logo03 {
    margin: 0;
}

.logo03 {
    height: 81px;
}


/* --------------------------*/
/*ミッション
/*----------------------------*/

.mission {
    width: 100%;
    height: 715px;
}

.mission-container {
    height: 100%;
}

.mission-container::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: -180px;
    background: url('../images/bg_right.svg');
    background-position: left top;
    height: 715px;
    width: 660px;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}

.mission-main {
    width: 53%;
    margin-top: 100px;
    padding: 112px 0 10px;
    position: absolute;
    font-size: 18px;
    border: 1px solid #E0E2E9;
    opacity: 1;
    background-color: #fdfdff;
    left: 580px;
    top: 765px;
}

.mission-description {
    padding: 0 15%;
    line-height: 3.0rem;
    font-weight: 700;
    text-align: left;
}

.mission-nav {
    margin-right: 50px;
}

.mission-nav-title {
    font-size: 18px;
    vertical-align: middle;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.36px;
    float: right;
}

.mission-nav-title::after {
    content: '>';
    padding: 10px;
}

/* --------------------------*/
/*サービス
/*----------------------------*/
.service {
    width: 100%;
    padding: 100px;
}

.service-list {
    width: 90%;
    padding: 10px 0;
}

.service-title-main {
    font-size: 4.0rem;
}

.service-item {
    float: left;
    box-sizing: border-box;
    height: 335px;
    width: 30%;
    border: 1px solid #E1E2E9;
    transition: all 0.3s ease;
}


.service-item:hover {
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 10px rgb(25,46,96,0.1);
}

.item-left {
    margin: 40px 20px 0 0;
}

.item-center{
    margin: 40px 20px 0 20px;
}

.item-right {
    margin: 40px 0 0 20px;
}

.service-image {
    width: 100%;
}

.service-item-title {
    display: inline-block;
    margin-left: 20px;
}
.service-item-title > p{
    height: 95px;
    font-size: 19px;
    font-weight: 700;
    line-height: 95px;
}

.clear {
    clear: both;
    height: 0px;
}
/* --------------------------*/
/* NEWS
/*----------------------------*/
.news {
    width: 100%;
    height: 800px;
}

.news-container {
    width: 100%;
    height: 656px;
}

.news-container::before {
    content: '';
    display: inline-block;
    background: url('../images/bg_left.svg');
    background-repeat: no-repeat;
    vertical-align: left;
    height: 715px;
    width: 486px;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}

.news-main{
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 90px 8.06%;
    border: 1px solid #E0E2E9;
    opacity: 1;
    background-color: #fdfdff;
    vertical-align: middle;
    position: relative;
    top: -635px;
}

.news-title-main {
    font-size: 3.7rem;
    margin-bottom: 10px;
}

.news-title-sub {
    font-size: 14px;
}

.news-head {
    display: inline-block;
    width: 300px;
    position: relative;
    float: left;
}

.more-button {
    border: 1px solid #182F60;
    padding: 17px 10px;
    width: 65%;
    position: absolute;
    bottom: 0;
    transition: all ease 0.3s
}

.more-button a {
    display: inline-block;
    margin: auto;
    font-size: 18px;
    height: 100%;
    width: 90%;
    text-align: center;
    transition: all ease 0.3s
}

.more-button::after {
    content: '>';
    width: 10%;
    font-weight; 700;
}

.more-button:hover {
    background-color: #182F60;
    color: #FDFDFF;
}

.more-button:hover a {
    color: #FDFDFF;
}

.news-list{
    display: inline-block;
    width: calc(100% - 300px);
    float: left;
    border-left: 1px solid #E0E2E9;
    padding-left: 80px;
}

.clear {
    clear: both;
    height: 0;
}

.news-item-body {
    display: inline;
}

.news-item a:hover .news-item-body{
    background: linear-gradient(transparent 95%, #192E60 0%);
}

.news-datetime {
    display: inline-block;
    font-size: 18px;
    height: 100%;
}

.news-item-category {
    display: inline-block;
    font-size: 13px;
    margin-left: 40px;
    padding: 3px 10px;
    border: 1px solid #E0E2E9;
}

.news-item-body {
    line-height: 1.9rem;
}

.news-item-1 {
    margin-bottom: 40px;
}

.news-item-head {
    height: 32px;
}

/* --------------------------*/
/* Recruit
/*----------------------------*/
.recruit {
    width: 100%;
    height: 660px;
}

.recruit-container {
    width: 100%;
    height: 560px;
    display: flex;
    margin: 0 84px;
}

.recruit-title {
    height: 100%;
    width: 100px;
    margin-right: 80px;
}

.recruit-title p {
    writing-mode: vertical-rl;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.recruit-link-container {
    height: 100%;
    width: 73.5%;
    background-image: url('../images/pic_recruit-sp.jpg');
    background-size: cover;
    background-position: center center;
}

.recruit-link {
    height: 250px;
    width: 280px;
    position: relative;
    top: 310px;
    z-index: 3;
    background-color: #FDFDFF;
}

.title-main {
    padding-top: 80px;
}

.title-main p {
    font-size: 60px;
}

.title-sub {
    padding-top: 10px;
}
.title-sub p {
    font-size: 13px;
}


/* --------------------------*/
/* Lab
/*----------------------------*/
.lab-container {
    width: 100%;
    height: 620px;
}
.lab-container::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: -6px;
    background: url('../images/bg_right.svg');
    background-size: cover;
    background-position: left top;
    height: 620px;
    width: 660px;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}

.lab-container span {
    display: inline-block;
    width: 70%;
    height: 420px;
    margin-left: 18%;
    margin-top: 120px;
}
.lab-image {
    height: 100%;
}

/* --------------------------*/
/* concept
/*----------------------------*/
.concept {
    height: 473px;
    width: 100%;
    margin: 100px;
    display: flex;
}

.concept-message {
    width: 30%;
    height: 100%;
    vertical-align: middle;
    padding-top: 75px;
}

.english {
    font-size: 40px;
    line-height: 1.5em
}

.japanese {
    font-size: 20px;
    margin-top: 30px;
}

/* --------------------------*/
/* BottomMenu
/*----------------------------*/
.bottom-menu {
    height: 900px;
    width: 100%;
    background-color: #192E60;
    color: #FDFDFF;
}

.head-menu {
    margin: 0 100px;
}

.bottom-menu-section {
    float: left;
    width: 25%;
    height: 300px;
    margin: 180px 0;
}

.bottom-menu-section h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}

.bottom-menu-item a {
    display: block;
    color: #FDFDFF;
    font-size: 14px;
    margin: 10px 0;
}

.footmenu {
    height: 240px;
    width: 100%;
    background-color: #0F224C;
}

.footmenu-item{
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    float: left;
    font-weight: 700;
    font-size: 20px;
}

.footmenu a {
    display: block;
    color: #FDFDFF;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.footmenu a h3 {
    line-height: 240px;
}

.footmenu-blog {
    border-right: 1px solid #192E60;
}


/* --------------------------*/
/* Footer
/*----------------------------*/
.footer {
    width: 100%;
    height: 170px;
}

.footer-left {
    float: left;
    width: 22%;
    height: 100%;
}

.policy-list {
    display: flex;
    height: 100%;
    width: 100%;
}

.policy-item {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
}

.policy-item a {
    margin: auto;
}
.footer-right {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    width: 140px;
    height: 100%;
    margin-right: 30px;
}

.footer-right-wrapper {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    padding: 5px;
}

img.company-logo {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 10px;
}

.company-name {
    width: 100%;
    font-size: 14px;
}
